.program-middle {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  background-color: white;
  .middle-info {
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: space-around;
    .intro {
      width: 45%;
      margin: auto;
    }
  }
}
///
.projects {
  height: 100vh;
    background: none;
    display: flex;
    flex-direction: column;
    h1 {

    }
  i{
   color: #4286f4;
   padding: 2px;
  }
  .projects-title{
    display: flex;
    // align-self: center;

  .title-box{
    width: 100%;
    display: flex;
    justify-content: center;
    // margin: auto;
    h1 {
      font-family: "Fira Sans";
      font-size: 3rem;
      text-shadow: 7px 7px 5px rgba(173,172,170,0.55);
    }
  }
  }
}
///
.program-bottom {
  height: 100vh;
  width: 100vw;
  background: white;
  justify-content: space-around;
  background-color: white;
  .bottom-info {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    h1 {
      font-family: "Fira Sans";
      font-size: 3rem;
      text-shadow: 7px 7px 5px rgba(173,172,170,0.55);
      margin-right:40px;
      }
  }
  .skills {
    width: 50%;
  }
}
///

.dark-bottom{
  background-color: #404042;
  color: white;
  height: 100%;
  .top-link {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: -33px;
    left: -151px;
    i {
      color: #4286f4;
      cursor: pointer;
    }
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  .social {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    flex-wrap: wrap;
    a {
    font-size: 4rem;
    color: #FAFAFA;
    opacity: .2;
    transition: ease 300ms;
    }
    a:hover {
      color: #4286f4;
      font-size: 6rem;
    }
  }
}



