<div id="push">
  <footer <div class="footer navbar-fixed-bottom"></div>
    <div class="footer-container">
      <nav>
        <ul>
          <!-- <li><i class="fab fa-github fa-2x"></i></li>
          <li><i class="fab fa-linkedin fa-2x"></i></li>
          <li><i class="fab fa-instagram fa-2x"></i></li>
          <li><i class="fas fa-envelope-open-text fa-2x"></i></li> -->
          <li>©Mohamed Raza Pirbhai</li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
