<div id="push">
  <footer <div class="footer navbar-fixed-bottom"></div>
    <div class="footer-container">
      <nav>
        <ul>
          <li><%= link_to "Contact", "#" %></li>
          <li><%= link_to "Terms of Use", "#" %></li>
          <li><%= link_to "Privacy Policy", "#" %></li>
          <li>©Mohamed Raza Pirbhai</li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
