<div style="height: 100%">
  <div class="container-fluid" style="height: 100%; overflow: hidden">
    <div class="background"></div>
    <div class="row">
      <div class="col-12 text-right hover-underline pad-top">
        <h1>
          <a href="https://www.linkedin.com/in/m-raza-pirbhai/" class="text-white"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/lazyrayza" class="text-white no-deco"><i class="fab fa-github"></i></a>
          <a href="mailto:razapirbhai4@gmail.com" class="text-white no-deco"><i class="fa fa-envelope-square"></i></a>
          <a href="/" class="text-white no-deco"><i class="fas fa-home"></i></a>
        </h1>
      </div>
    </div>
    <!-- Width must be defined for centered text in IE -->
    <div class="row center" style="width: 100%">
      <div class="col-12 text-white text-center">
        <h1 class="scaling-font" style="overflow:hidden">Coming soon!</h1>
      </div>

    </div>
    <div class="row page-bottom footer-text">
      <div class="col-12 text-center hover-underline">
        <a class="text-white" href="https://unsplash.com/photos/45FJgZMXCK8"><i class="fa fa-camera icon-pad-right"></i>Photo by Joey Kyber, on Unsplash.com</a>
      </div>
    </div>
  </div>
</div>


