.footer-container {
  // position: absolute;
  bottom:0;
  width:100%;
  height:75px;
  text-align: center;
  background-color: #171B37;
  padding: 50px;
  color: white;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      color: white;
      margin-right: 50px;
    }
  }
}
